body {
  background-color: #a299ce;
}
.container {
  max-width: 600px;
  background: white;
  padding: 50px;
  border-radius: 10px;
  margin: 50px auto;
  color: black;
  border: 1px solid;
}

h1 {
  text-align: right;
}
ul {
  list-style: none;
  text-align: left;
}
footer {
  text-align: center;
  color: #a299ce;
}
