body {
  background-color: #e3e0f2;

  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  color: #8a8c8ed1;
  border: 1px solid #dadde1;
}
.weather-presentation {
  text-align: right;
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  text-align: right;
  color: #8a8c8ed1;
  padding: 0;
  margin: 0;
}
footer {
  text-align: center;
  color: #7a739f;
}
.float-left {
  width: 100px;
  margin-top: 20px;
}
