body {
  background-color: #a299ce;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  color: black;
  border: 1px solid #dadde1;
}
.weather-presentation {
  text-align: right;
  font-size: 24px;
  text-align: left;
}
ul {
  list-style: none;
  text-align: right;
}
footer {
  text-align: center;
  color: #a299ce;
}
