body {
  background-color: #fdf4f5;
}
.container {
  text-align: center;
  background-color: #ba90c6;
  color: black;
  margin: 0 auto;
  max-width: 600px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
